.switcher {
  display: flex;
  gap: 4px;
}

.button {
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-weight: 400;
  cursor: pointer;
  background: transparent;
}

.buttonActive {
  border: 2px solid currentColor;
  font-weight: 700;
  cursor: default;
}
